@bgDelta: #111;
@fgDelta: #999;

.build-theme( 
    @bg, 
    @fg: if( lightness(@bg) >= 80%, @bg - @fgDelta, @bg + @fgDelta),
    @cAccent: @c1,
    @cAccent2: @c2,
    @apply: true
) {

    @isLight: boolean( lightness(@bg) >= 80% );

    --cAccent: @cAccent;
    --cAccent2: @cAccent2;

    // Background
    // TODO: Nettoyer
    @bg2: @bg - #121212;
    @bgDark: darken(@bg, 5%);
    @bgDarkPlus: darken(@bg, 10%);
    --cBg: @bg; 
    --cBg2: @bg2;
    --cBgAccent: @bgDark;
    --cBgAccentPlus: @bgDarkPlus;
    --cBgControl: if( @bg = #fff, @cBgPage, #fff );
    --cBgHover: #f5f5f5;

    @cBgHighlight: @bg + #111;
    --cBgHighlight: @cBgHighlight;

    // Other
    @cLine: if( @isLight, @bg - #151515, @bg + #151515);
    @cLine2: if( @isLight, @bg - #191919, @bg + #050505);
    --cLine: @cLine;
    --cLine2: @cLine2;

    // Text
    .build-theme-txt(@fg, @bg, @apply);

    // Childrens
    & when (@apply = true) {
        background: var(--cBg);
        .input {
            border: if(@bg = #ffffff, solid 2px var(--cLine), none);
        }
    }

    .overlay {
        background: fade(@bg, 50%);
    }
}

.build-theme-txt( @cTxtBase, @bg, @apply: true ) {

    @isLight: boolean( lightness(@bg) >= 70% );
    
    // Text
    @cTxtDiscret: if( @isLight, @bg - #444, @bg + #444);
    @cTxtDesc: if( @isLight, @cTxtBase + #222, @cTxtBase - #222);
    @cTxtImportant: if( @isLight, @cDark, #fff);
    @cTxtAccent: if( @bg = @c1, @cTxtImportant, @c1);

    --cTxtDiscret: @cTxtDiscret;
    --cTxtDesc: @cTxtDesc;
    --cTxtBase: @cTxtBase;
    --cTxtImportant: @cTxtImportant;
    --cTxtAccent: @cTxtAccent;
}