/*----------------------------------
- CONFIG
----------------------------------*/
@import (reference) "../theme.less";

/*----------------------------------
- COMPONENTS
----------------------------------*/
.card,
.msg {
    position: relative; // For .overlay
    color: var(--cTxtBase);  
    border-radius: @radius;
}

.card {

    background-color: var(--cBg);
    padding: @cardPadding;

    &.row {
        padding: @cardPadding @cardPaddingLong;

        // TODO: rename & move elsewere
        &.inside {

            padding: 0;
            gap: 0;
            align-items: stretch;

            > * {
                padding: @cardPadding @cardPaddingLong;
                &:first-child {
                    border-top-left-radius: inherit;
                    border-bottom-left-radius: inherit;
                }
                &:last-child {
                    border-top-right-radius: inherit;
                    border-bottom-right-radius: inherit;
                }
            }
        }

        &.sep {
            > * + * {
                border-left: solid 1px #eee;
            }
        }
    }

    &.col {
        padding: @cardPaddingLong @cardPadding;
    }

    &.selected {

        box-shadow: 0 0 0 3px @c1;

        > * {
            --cTxtImportant: @c1;
        }
    }

    &.minimal {
        background:transparent;
        box-shadow: none;
        border: solid 1px var(--cLine);
    }

    /*----------------------------------
    - VARIANTS
    ----------------------------------*/

    &.menu {
        padding: @cardPaddingLong;
    }

    /*----------------------------------
    - CHILDRENS
    ----------------------------------*/

    // NOTE: use the .bg class instead
    /*> header:first-child {
        // Apply theme
        background: var(--cBg);
        color: var(--cTxtDesc);
    }*/

    > .cov-t {

        margin-top: -1 * @spacing;
    }

    &.col > .cover {

        margin-left: -1 * @cardPadding;
        margin-right: -1 * @cardPadding;
        padding-left: @cardPadding;
        padding-right: @cardPadding;

        &:first-child {
            border-top-left-radius: @radius;
            border-top-right-radius: @radius;
            margin-top: -1 * @cardPaddingLong;
            padding-top: @cardPaddingLong;
        }

        &:last-child {
            border-bottom-left-radius: @radius;
            border-bottom-right-radius: @radius;
            margin-bottom: -1 * @cardPaddingLong;
            padding-bottom: @cardPaddingLong;
        }
    }

    > iframe.cover {
        margin: 0px !important;
        height: 100%;
        width: 100%;
    }
}

.msg, .card.bg.info {
    
    padding: @spacing @cardPaddingLong;

    .build-theme-bg( lighten(@cInfo, 35%), darken(@cInfo, 20%));

}

.msg, .card.bg {
    &.error {
        .build-theme-bg( lighten(@cInfo, 35%), darken(@cInfo, 20%));
    }

    &.warn {
        .build-theme-bg( lighten(@cWarn, 25%), darken(@cWarn, 30%));
    }

    &.success {
        .build-theme-bg( lighten(@cSuccess, 50%), darken(@cSuccess, 30%));
    }
}

iframe {
    border: none;
}

.dropArea {
    padding: @spacing;
    border-radius: @radius;
    cursor: pointer;
    border: dashed 4px var(--cLine);
}