@import (reference) "../theme.less";

.card,
.msg {
    position: relative; // For .overlay
    color: var(--cTxtBase);  
    border-radius: @radius;
}

.card {

    background-color: var(--cBg);
    padding: @spacing;

    &.bg {
        --cBg: difference(@cBgPage, #0a0a0a);
        --cBg2: difference(@cBgPage, #111);
        background: var(--cBg);

        &.img {
            background-position: center;
            background-size: cover;
        }
    }

    &.selected {

        box-shadow: 0 0 0 3px @c1;

        > * {
            --cTxtImportant: @c1;
        }
    }

    &.minimal {
        background:transparent;
        box-shadow: none;
        border: solid 1px var(--cLine);
    }

    /*----------------------------------
    - VARIANTS
    ----------------------------------*/

    &.menu {
        padding: @spacing * 2;
    }

    /*----------------------------------
    - CHILDRENS
    ----------------------------------*/

    // NOTE: use the .bg class instead
    /*> header:first-child {
        // Apply theme
        background: var(--cBg);
        color: var(--cTxtDesc);
    }*/

    > .cov-t {

        margin-top: calc( -1 * @spacing );
    }

    > .cover,
    > .table {

        margin-left: calc( -1 * @spacing );
        margin-right: calc( -1 * @spacing );

        &:first-child {
            border-top-left-radius: @radius;
            border-top-right-radius: @radius;
            margin-top: calc( -1 * @spacing );
        }

        &:last-child {
            border-bottom-left-radius: @radius;
            border-bottom-right-radius: @radius;
            margin-bottom: calc( -1 * @spacing );
        }
    }

    > iframe.cover {
        margin: 0px !important;
        height: 100%;
        width: 100%;
    }
}

.msg, .card.bg.info {
    
    padding: @spacing @spacing * 2;

    .build-theme( lighten(@cInfo, 35%), darken(@cInfo, 20%));

}

.msg, .card.bg {
    &.error {
        .build-theme( lighten(@cInfo, 35%), darken(@cInfo, 20%));
    }

    &.warn {
        .build-theme( lighten(@cWarn, 25%), darken(@cWarn, 30%));
    }

    &.success {
        .build-theme( lighten(@cSuccess, 50%), darken(@cSuccess, 30%));
    }
}

iframe {
    border: none;
}

.dropArea {
    padding: @spacing;
    border-radius: @radius;
    cursor: pointer;
    border: dashed 4px var(--cLine);
}