.table {
    overflow: auto;

    > table {
        border-collapse: collapse;
        table-layout: auto;
        width: auto;
        min-width: 100%;

        th, td {
            white-space: nowrap;
        }
    }

    &.card {
        padding: 1em 0;
    }
}

table {

    width: 100%;
    padding: 0;
    border-collapse: separate; 
    border-spacing: 0 0; // must be fully managed by padding

    // By default, chrome disables text inherits
    line-height: inherit;
    font-size: 0.9em;

    th {
        font-weight: 500;
        color: var(--cTxtDesc);
    }

    td, th {

        padding: 1em 1em;
        text-align: left;

        &:not(:last-child) {
            border-right: solid 1px #F5F5F5;
        }

        &:first-child {
            padding-left: 2em;
        }

        &:last-child:not(:first-child) {
            padding-right: 2em;
            text-align: right;
        }

        &.stickyColumn {
            position: sticky;
            background: var(--cBg);
            white-space: break-spaces;
            z-index: 5;

            &:first-child {
                left: 0;
            }

            &:last-child {
                right: 0;
            }
        }
    }

    thead.stickyHeader {
        position: sticky;
        top: 0;
        background: var(--cBg);
        white-space: break-spaces;
    }

    tbody {

        td, th {
            vertical-align: middle;
            border-top: solid 1px var(--cLine);
            position: relative;
        }

        // Rows: Crop when too long
        td {

            cursor: default;

            &.extendable > .row {

                max-width: 20em;
                overflow: hidden;
                justify-content: flex-start;

                &::after {
                    content: ' ';
                    display: block;
                    position: absolute;

                    top: 0;
                    right: 0;
                    width: 30%;
                    height: 100%;

                    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--cBg));
                }

                > * {
                    flex-shrink: 0;
                }

                > .badge {
                    font-size: 0.8em;
                }
            }
        }

        tr:hover > td {
            background: #FAFAFA;
        }
    }

    // Size
    &.s, .table.s & {
        td, th {
            padding: 0.7em 1em;
            font-size: 1rem;
        }
    }

    // Tableua responsive
    //  Utilisation déconseillée (lauvaise utilisation de l'espace, ergonomie horrible
    /*@media (max-width: @responsive2) {

        background: transparent;

        thead {
            display: none;
        }

        tr {
            display: flex;
            flex-direction: column;

            margin-bottom: @spacing;
            background-color: #fff;
            border-radius: @radius;
        }

        td {
            //font-size: .8em;
            display: flex;

            padding-left: 1em !important;
            padding-right: 1em !important;

            &::before {

                content: attr(title);
                font-weight: 500;
                color: var(--cTxtDesc);

                flex: 1;
                text-align: left;
                margin-right: @spacing;

            }
        }
    }*/
}

.modal .tableCellExtended .row {
    flex-wrap: wrap;
    justify-content: flex-start;
}