
img.img,
.bg.img {
    background: @cBgPage - #101010;
}

img {
    max-width: 100%;
    display: block;

    &.img {
        border-radius: @radius;
    }
}

/*----------------------------------
- IMAGE CONFIG
----------------------------------*/

img.img {
    object-fit: cover;
    object-position: center;
}